<?xml version="1.0"?>
<ruleset name="WPML to Polylang">
	<description>Coding standards for WPML to Polylang</description>

	<arg name="extensions" value="php,js" />
	<arg name="colors"/>
	<arg value="ps"/>

	<file>.</file>

	<rule ref="Polylang">
		<exclude name="Squiz.PHP.GlobalKeyword.NotAllowed" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery" />
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching" />
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="wpml-to-polylang"/>
			</property>
		</properties>
	</rule>

	<exclude-pattern>vendor/*</exclude-pattern>
</ruleset>
