includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: max
	paths:
		- wpml-to-polylang.php
	dynamicConstantNames:
		- POLYLANG_VERSION
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
	bootstrapFiles:
		- vendor/wpsyntex/polylang-stubs/bootstrap.php
