includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: max
	paths:
		- src/
	dynamicConstantNames:
		- POLYLANG_VERSION
	checkMissingIterableValueType: false
	bootstrapFiles:
		- vendor/wpsyntex/polylang-stubs/polylang-stubs.php
