includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: max
	paths:
		- src/
		- wpml-to-polylang.php
	dynamicConstantNames:
		- POLYLANG_VERSION
	bootstrapFiles:
		- vendor/wpsyntex/polylang-stubs/polylang-stubs.php
